body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background: #ddd0d0;
}

.contenedor {
    width: 99%;
    text-align: center;
}



/*Escritorio*/
@media (min-width: 1024px) {
    .contenedor {
        flex-direction: row;
    }

}

/*Table*/
@media (min-width: 768px) and (max-width: 1023px) {
    .contenedor {
        flex-direction: column;
    }
}

/*celular*/
@media (max-width: 767px) {
    .contenedor{
    flex-direction: colump;
    }
}