body {
    font-family: Arial;
    background: #f0f2f5;
    padding: 20px;
}


.contenedor {
    display: flex;
    gap: 20px;
    background: white;
    border-radius: 15px;
    max-width: 1200px;
    margin: auto;
}


.contenedor>div:first-child {
    width: 250px;
    background: #2c3e50;
    color: white;
    padding: 20px;
}

.Tarea button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    background: #a0155b;
    border: none;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}


.contenedor>div:last-child {
    flex: 1;
    padding: 20px;
}


.agregar {
    display: flex;
    gap: 10px;
    margin: 20px 0;
}

.agregar input,
.agregar select {
    padding: 10px;
    flex: 1;
}

.agregar button {
    background: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}


.filtros {
    display: flex;
    gap: 10px;
    margin: 20px 0;
}

.filtros button {
    padding: 8px 15px;
    cursor: pointer;
}

.contador {
    margin-left: auto;
}


.tarea-item {
    background: #f8f9fa;
    padding: 12px;
    margin: 8px 0;
    display: flex;
    justify-content: space-between;
    border-left: 4px solid #3498db;
}



.tarea-acciones button {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
}



.tarea-item.completada {
    opacity: 0.6;
    text-decoration: line-through;
}

/* MÓVIL */
@media (max-width: 767px) {
    .contenedor {
        flex-direction: column;
    }

    .contenedor>div:first-child {
        width: 100%;
    }

    .agregar {
        flex-direction: column;
    }

    .tarea-item {
        flex-direction: column;
        text-align: center;
    }
}

/* TABLET */
@media (min-width: 768px) and (max-width: 1023px) {
    .contenedor {
        flex-direction: column;
    }

    .contenedor>div:first-child {
        width: 100%;
    }
}

/* ESCRITORIO */
@media (min-width: 1024px) {
    .agregar {
        flex-wrap: wrap;
    }
}